[2021-01-19 15:34] locness3 opened #1 "Concerning the future of Itchy"
@micahlt Please tell us what you're up to with this new app. I'm sorry if you said already said anything about it on Teams - I don't check it often. But I'd guess you didn't

[2021-01-19 15:53] micahlt commented on #1
Apologies - I commented on your Scratch profile but I realized that you don't check that often.  I'm rebuilding Itchy with Ionic Vue. 😳 I've finally realized the benefits of doing things the right way over doing things the easy way.  The codebase for  `itchy-cordova` is a mess, and I can see now that doing everything in vanilla JS isn't always optimal.  I know this (restarting, kinda) is frustrati

[2021-01-19 16:12] micahlt opened #2 "Turbowarp iframe white background in dark mode"
On the web, `iframe` elements that display the Turbowarp embed display a white background when the app is in dark mode.  This is not an issue with Turbowarp itself since on Android everything works correctly.  See below:

<img src="https://user-images.githubusercontent.com/28816297/105060812-73ab2400-5a3e-11eb-8efa-8cd7ab0dba71.png" width="200px"></img>

[2021-01-19 16:53] locness3 commented on #1
Oh, I do check my Scratch profile but I didn't in the last days. Also remember that out of the 17 people here, mostly nobody's actually active - aside from you and me; not sure much people wasted time.
I'm glad you're doing things the "right" way.
While I'm here, I should say what I expect of the app - and would appreciate if @Scratch-Client-4/everyone did the same so we can commonly agree on what

[2021-01-19 16:55] Mai-Trys commented on #1
I really don’t have the skills to do much than visual work. That being
design and CSS. I am active on Scratch if you would like to contact me
there, you can see some of my work.

On Tue, Jan 19, 2021 at 8:53 AM Locness <notifications@github.com> wrote:

[2021-01-19 17:03] Mai-Trys commented on #1
Let it be known I’m pretty busy as A High School student but I’d be happy to assist on the visual front as I would like to get more involved. So If you want to assign me to something (i.e advancing the website) go ahead.

[2021-01-19 17:54] bryn-trys commented on #1
Anyways, on my opinions on the app, I can’t say much for the internal workings but I do believe that the UI should reflect the web version, so making sure to format everything is a priority. Using Scratch on mobile is pretty buggy so if we’re recycling code we will need to address that. In terms of what I want to see on the app, what Micha and Locness suggested sounds just fine, maybe with the add

[2021-01-19 18:07] micahlt commented on #1
You think a lot like me!  😄 Yes, this is nearly exactly what I'm aiming for.  Right now I'm definitely focusing on the following:
 - Project rendering
 - Login functionality
 - Commenting on projects and profiles
 - Implementing a custom studio API (via [`micahlt/itchy-api`](https://github.com/micahlt/itchy-api))

The main issues we're going to run into are the old parts of the site (like studios)

[2021-01-19 18:18] micahlt commented on #1
@bryn-trys Thanks for the suggestions!  Unfortunately, most of those are currently out of the scope of what we're doing with Itchy v1.

The only reason why we don't have a Discord server is that my parents will not let me use Discord.  Y'all are welcome to make one - it's just that I'm (no offense to anyone) the primary developer, and I can't have it 😳

[2021-01-19 18:20] micahlt opened #3 "Support login to Scratch"
One of the core features missing from both `itchy-cordova` and `itchy-ionic` is login functionality.  We need to figure out the API endpoints for retrieving a user token and how to use that token, as soon as possible.  Help on this is greatly appreciated.

[2021-01-19 18:26] micahlt commented on #1
@bryn-trys We do have a (slightly dead) Gitter chat that we should use more often: https://gitter.im/scratchclient4/community

[2021-01-19 18:40] bryn-trys commented on #1
Oh, alright! For me, I communicate pretty well on Discord. Right now, I’m a little preoccupied because my freaking README isn’t working 😭 so I’ll get back to you in a little bit

[2021-01-19 18:46] micahlt commented on #3
We might could implement @Zxnii's solution [here](https://github.com/Zxnii/scratch-site-api/blob/85dec285d9bd5c32b179613e0bc6cf05000ee6aa/index.js#L31) - it seems relatively simple and up-to-date.

[2021-01-19 19:32] micahlt commented on #3
And if we run into CORS issues here, we could consider running a Node VM to make the requests underneath the Ionic app with [this library](https://code.janeasystems.com/nodejs-mobile/getting-started-cordova).

[2021-01-19 20:00] bryn-trys commented on #1
Alright I think I’ll join the Gitter

[2021-01-19 23:38] YOYITsM3M8 commented on #1
I'm pretty sure we have one?

[2021-01-20 03:49] bryn-trys commented on #1
If we do, can you link it here?

[2021-01-20 03:50] Semisol commented on #1
I have not been active lately. What is going on?

[2021-01-20 08:10] locness3 commented on #1
There is a Discord ([and I tried ensuring y'all were aware of it](https://github.com/orgs/Scratch-Client-4/teams/everyone/discussions/18)).

[2021-01-20 08:14] locness3 commented on #3
From what I see where you linked, we need to set cookies for the CSRF token - completely forgot about that in my testing - which is definitely impossible in a webview with a cross-origin alone.

[2021-01-20 08:20] locness3 commented on #3
Wait, you linked to a tutorial for Cordova - we don't use this, right?

[2021-01-20 13:46] AyzansAlt commented on #3
Why can't we use Scratch Verifier / SV2

[2021-01-20 13:46] AyzansAlt commented on #3
If you didn't already see this:
`const Scratch = require("scratch-site-api")
const user = new Scratch.User()

async function main() {
    await user.login("username", "password")

    console.log(await user.getSession().json)
}`

[2021-01-21 11:46] locness3 commented on #3
... This has already been discussed

[2021-01-21 11:48] locness3 commented on #3
Ofc, we could use the scratch-site-api module

[2021-01-21 11:54] locness3 commented on #1
..the invite there is invalid. @githubfan, as you're the Discord's owner, can you make a new one? Even better, could you use smth like https://invite.gg to have a custom link?

[2021-01-21 17:28] monitrr commented on #3
where

[2021-01-21 19:12] locness3 commented on #3
[I'm tired of this](https://www.notion.so/locness/Recap-Logging-in-to-Scratch-in-SC4-a57d5f44d7aa425698bd619e1fd97773)

[2021-01-22 16:48] locness3 commented on #1
Just to make sure: when I ping @Scratch-Client-4/everyone in a Github Team discussion, do y'all see it? Normally yes, but it looks like not really.

[2021-01-22 21:07] micahlt commented on #1
@locness3 Yes, we do, and I get emails so don't ping so much lol (jk ofc, you're fine)

[2021-01-24 16:15] micahlt opened #5 "Qwant search limitations"
So far with both `itchy-ionic` and `itchy-cordova` the search has been based on [Qwant](https://www.qwant.com/?l=en)'s open API.  However, just by experimenting it looks like Qwant is severely rate-limiting our requests (from the `micahlt/itchy-api` server).  This is an issue because it results in both 502 and 429 error codes, and of course prevents the user from searching.

The only solution I ca

[2021-01-24 16:28] micahlt opened #6 "Navigation flow with modals"
Since we're using `<ion-modal>` components to implement projects, profiles, and studios, there are a few issues with navigation.  When clicking a project link from another project, the back button goes back to the explore tab.  We need to fix that by making it move back to the previous project.

[2021-01-24 16:49] locness3 opened #7 "Do not show empty project Instructions"
A project without Instructions will show an empty white box. It should be hidden if empty.

[2021-01-24 16:50] locness3 commented on #6
couldn't we create a new ion-modal for each clicked link?

[2021-01-24 16:51] locness3 commented on #5
We should use the Scratch API for projects and studios, and qwant's for the rest.

[2021-01-24 18:33] micahlt commented on #5
@locness3 So you're suggesting different searches for specific categories?  I'd envisioned a single search for everything...

[2021-01-24 18:34] micahlt commented on #6
@locness3 I've considered that - however, modals are quite literally overlaid on top of the current view.  As someone follows more and more links, the DOM will become massive and cause lag in the application.

[2021-01-25 12:50] monitrr commented on #3
i wish scratch had an api

[2021-01-25 17:47] locness3 opened #8 "Release on F-Droid?"
Would be very nice, in addition to a Play Store release, to release the app on F-Droid, since it's open source. Here is [their FAQ](https://f-droid.org/fr/docs/FAQ_-_App_Developers/) with a lot of informations about how F-Droid actually works for developers.

[2021-01-25 17:49] locness3 commented on #3
It does! It just lacks documentation as it is mostly designed for scratch's internal use. How would be fetching data from scratch otherwise?

[2021-01-25 17:54] locness3 commented on #6
Except if you remove the DOM of non-visible modals - or just use something else than modals for what's the main content of the app.

[2021-01-25 17:56] locness3 commented on #5
The itchy-api server could handle these different searches with a unified api

[2021-01-25 18:42] micahlt commented on #5
@locness3 ah, yes!  That's a good idea.  The only issue to surmount there would be correctly ranking results, but I bet we could figure it out.  Speaking of `micahlt/itchy-api`, I really should move that repository to the SC4 organization.

[2021-01-25 18:42] micahlt commented on #6
@locness3 That's possible, but it would be very difficult due to the structured nature of Ionic Vue - maybe you'd like to take a stab at it?

[2021-01-25 18:44] micahlt commented on #7
@locness3 I'll work on this as soon as possible!

[2021-01-25 18:45] micahlt commented on #8
@locness3 That sounds like an awesome idea!  I'll look into it more as we get closer to release.

[2021-01-25 19:53] monitrr commented on #3
oh, im stupid, i mean't an api ~~that was actually useful~~ that was good

[2021-01-26 10:37] locness3 commented on #6
When I get some time

[2021-01-26 10:41] locness3 commented on #5
AFAIK Qwant rates users results well, if you filter out useless results.
[Have a look here](https://codepen.io/Locness/pen/yLOjxQL) if you didn't already

[2021-01-26 12:24] monitrr commented on #5
Google Enhanced Search?

[2021-01-26 18:45] monitrr commented on #2
I found out how to apply css to iframes

[2021-01-27 11:42] locness3 commented on #2
congratz

[2021-01-27 11:43] locness3 commented on #5
No, Google's Enhanced search is for searching content on the website you put it on; makes no sense being in a mobile app in addition to being a google crap

[2021-01-27 12:26] monitrr commented on #2
:(

[2021-01-27 12:26] monitrr commented on #2
whenever i build the app in android studio i get an error

[2021-01-27 12:27] monitrr commented on #5
:/

[2021-01-27 13:30] micahlt commented on #5
Plus Enhanced Search isn't really free.  We're looking to spend as _little_ money as possible here.

[2021-01-27 13:31] micahlt commented on #2
@monitrr What's the error message from Android Studio?  Can you paste a screenshot?

Unfortunately, this isn't a CSS issue since Turbowarp embeds act fine in `itchy-cordova` as well as when `itchy-ionic` is run on Android.

[2021-01-27 14:34] locness3 commented on #2
pls create a seperate issue

[2021-01-27 14:35] locness3 commented on #2
@micahlt On what browser?

[2021-02-01 21:38] micahlt opened #9 "Support Android Intents and in-app URIs"
It would be nice to include support for [Android Intents](https://developer.android.com/reference/android/content/Intent) as well as in-app URIs (such as `itchy://project?id=123456`).  There is a really good answer on [this Stack Overflow post](https://stackoverflow.com/questions/28041677/how-can-cordova-open-app-from-http-or-https-url#answer-28182653), which references the [`webintent`](https://g

[2021-02-06 07:52] locness3 opened #10 "Where do the release names come from?"
Also suggesting we could name it after famous (or underrated) Scratchers.

[2021-02-06 07:55] locness3 opened #11 "Write up a privacy policy"
@micahlt, you mean "your password is only sent to Scratch" right?

[2021-02-06 08:53] locness3 opened #12 "How to run on Android?"
I know I'm supposed to hit the "Run" button in Studio, but there are no run configs in the project, so it doesn't really work.

[2021-02-06 16:02] micahlt commented on #12
What do you mean by run configs?  It works fine for me - just run `npm run production` and then hit the play button.

[2021-02-06 16:03] micahlt commented on #11
@locness3 Not directly, no.  To avoid CORS restrictions the username and password have to be sent to the itchy-api server and from there to Scratch.

[2021-02-06 16:06] micahlt commented on #10
Currently codenames come from https://killercup.github.io/codenamer/.  I'm willing to consider Scratch-related names, but I'd rather not name releases after Scratchers (because that makes the team seem biased).

[2021-02-06 16:21] locness3 commented on #10
Huh.

[2021-02-06 16:24] locness3 commented on #11
might want to emphasize we don't store it (and write an actual privacy policy)

[2021-02-06 16:31] locness3 commented on #12
Run configs, the thing in Android studio that determines what to do when you hit the Play button. Go to Run > Edit Configurations and check "Store as project file" so it gets committed to the project. Without any the Play button is disabled (i ran `npm run production`)

[2021-02-06 19:24] micahlt commented on #12
Ah, yes!  I just used the built-in "Android App" preset - see below:
![image](https://user-images.githubusercontent.com/28816297/107127858-9af75300-687e-11eb-9849-226eb83161a4.png)

[2021-02-06 19:25] micahlt commented on #11
You're right - this is high priority.  Would you like to draft one?

[2021-02-06 19:37] micahlt opened #13 "[bug] No error on 404 project pages"
If the user is not connected to the internet or a project is not found, the app simply breaks.  We need 404 and 503 errors generated so that the user can see what is wrong!

[2021-02-06 19:38] micahlt commented on #3
This has been implemented in commit e71b53a90c13950c7faca9aa338a12470907fc84.

[2021-02-06 19:38] #3 closed

[2021-02-06 19:40] micahlt commented on #9
This has been partially implemented in commit d390fd6f4bf0416e20d079ae91b3e0c834a35764.

[2021-02-07 07:33] locness3 commented on #13
503? more just a "the internet is offline"

[2021-02-07 07:34] locness3 commented on #12
So just check "SHare through VCS" :)

[2021-02-07 07:39] locness3 commented on #12
When I go to create a config, somehow it just shows me "no module".

[2021-02-07 07:40] locness3 commented on #11
"high priority"
adds an "enhancement" label

[2021-02-07 07:41] locness3 commented on #11
I don't really know how the app works - not able to run it yet - so not yet

[2021-02-07 14:26] micahlt commented on #11
Wait, you do know that you can run the app with`ionic serve`… right?  Unless you're going to bundle for Android directly, there's no need to actually use Android Studio.

[2021-02-07 14:27] micahlt commented on #13
You know what I mean lol - just errors to handle those sort of codes.

[2021-02-07 14:28] micahlt commented on #12
I'll work on that right now 👍

[2021-02-07 14:32] locness3 commented on #11
thx for the info

[2021-02-07 14:34] locness3 commented on #11
![image](https://user-images.githubusercontent.com/37651007/107149633-f0546280-6959-11eb-8760-2fa5e6c51b9f.png)
Well yes, but actually no

[2021-02-07 14:39] micahlt commented on #11
What on earth ~ you may need to reclone the repo - it looks like you may be missing some files ;-;

[2021-02-07 14:42] micahlt commented on #11
@locness3 Wait no - I think I fixed it.  Let me push the fix and you can fetch and pull.

[2021-02-07 14:48] micahlt commented on #11
@locness3 Please fetch and pull now, then tell me if the Android build config and the `ionic serve` issues are fixed.

[2021-02-09 08:17] locness3 commented on #11
Yes! That works. Tysm!

[2021-02-09 08:17] locness3 commented on #12
Fixed in https://github.com/Scratch-Client-4/itchy-ionic/commits/master

[2021-02-09 08:17] #12 closed

[2021-02-09 08:26] locness3 opened #14 "Cannot read property intentShim of undefined"
Running `ionic serve` works, but the app can't run within the browser. Nothing happens. The console shows :
[code]
I assume it is trying to use a native API?

[2021-02-09 13:38] micahlt commented on #14
You're correct - intentShim is a Cordova API for Android wrapped by Capacitor.  The documentation for the plugin can be found [here](https://github.com/darryncampbell/darryncampbell-cordova-plugin-intent) while the meager docs for the Capacitor installation can be found [here](https://ionicframework.com/docs/native/web-intent/).  To install, run:

[code]

However, if this problem only occurs in th

[2021-02-09 13:39] micahlt commented on #11
No problem!  Now, time to mark all of these posts as off-topic...

[2021-02-09 17:42] locness3 commented on #14
I think that's what's needed

[2021-02-09 22:40] micahlt commented on #14
All right - I'm planning on developing a little bit more this afternoon (Central Standard Time), so I'll implement that.

[2021-02-09 23:12] micahlt commented on #14
Confirmed - this is a reproducible issue.  I'm working on it now.

[2021-02-09 23:28] micahlt commented on #14
Fixed in 699bef4afc6c1c3ffa8b6f235310e44cca733899.

[2021-02-09 23:28] #14 closed

[2021-02-10 17:09] locness3 commented on #14
Thanks!

[2021-02-10 17:17] locness3 commented on #14
BTW, quick tip : use `ionic lab` :) (make sure to say `y` to install the thing, even if webpack's messages get on top of the prompt)

[2021-02-10 17:51] locness3 commented on #3
Congrats! :rocket:

[2021-02-10 18:04] micahlt commented on #14
Will do 👍

[2021-02-11 06:17] locness3 commented on #6
At the time, I wasn't aware about all routing stuff. I think, we should create a seperate page/endpoint/route/whatever you name it `ProjectPage.vue`, and just navigate to it with a different parameter. AFAIK, ionic ensures we get a smooth navigation without a full refresh.

[2021-02-11 15:24] micahlt commented on #6
I can work on that.  Of course, this isn't top priority right now.  The only reason I didn't consider doing this in the first place was that I'm not sure that Ionic will handle transitions if the project page is not a tab (since we're using a tab-based layout).

[2021-02-11 16:00] locness3 commented on #6
Needs some tesitng, but I'd think it makes a smooth navigation no matter what.

[2021-02-11 16:19] locness3 commented on #6
... it doesn't, even when using an `ion-router-link`

[2021-02-11 16:30] locness3 commented on #6
Or maybe it would with `ion-nav-link`? I don't understand how to set it up.

[2021-02-14 07:39] locness3 opened #18 "Slow down Micah"
I understand you might want a fast development, but please keep quality in mind.
The all-new 0.5.0 release has ridiculous "known issues", that should be fixed before making the release. I know this is alpha software, but breaking the whole app by navigating to a page, seriously... Pretty sure you just forgot to add a " if the user is logged in" check.

@micahlt

[2021-02-14 07:40] locness3 commented on #18
How did I even close this

[2021-02-14 20:55] monitrr opened #19 "Why can't i run "npm run production"?"
![image](https://user-images.githubusercontent.com/36968271/107888864-f7a1e000-6f06-11eb-93fd-480e1027ada3.png)

[2021-02-14 20:58] monitrr commented on #18
sorry for necro but lol

[2021-02-14 21:08] monitrr commented on #10
![image](https://user-images.githubusercontent.com/36968271/107889198-cfb37c00-6f08-11eb-86d1-d53885eb843b.png)
I think these settings sound best

[2021-02-15 07:02] locness3 commented on #19
bc you're on winblows-

[2021-02-15 07:03] locness3 commented on #19
I seriously don't know but that seems Windows related. Make sure to `npm install` first of all, then try editing the `package.json` adding `npx` before the commands.

[2021-02-15 13:56] monitrr commented on #19
its actually win_unbloated-

[2021-02-15 13:56] monitrr commented on #19
Ill try

[2021-02-15 13:58] monitrr commented on #19
![image](https://user-images.githubusercontent.com/36968271/107955532-ccb29d00-6f95-11eb-931e-1d9c05c41f26.png)
i didnt npm install, i have done the stupid

[2021-02-15 14:02] monitrr commented on #19
what should i change in package.json?

[2021-02-15 14:07] monitrr commented on #19
editing the package.json fixed it:
[code]

[2021-02-15 14:07] #19 closed

[2021-02-15 17:12] locness3 commented on #19
Your screenshot shows the thing "buliding for production", so it works..? There's nothing to change in package.json then

[2021-02-15 20:36] monitrr commented on #19
There were a few errors after, "ELIFCYCLE" or something like that

[2021-02-16 08:13] locness3 commented on #19
Then show them

[2021-02-16 08:13] locness3 commented on #19
make sure you have android studio, too

[2021-02-16 12:14] Semisol opened #21 "Stop. Pushing. To. Master. Use. Develop. Branches. Please."

[2021-02-16 12:14] Semisol commented on #21
please micah stop

[2021-02-16 12:15] Semisol commented on #21
If possible, can you do this:
1. make feature branch for your additions
2. merge to develop (squash if too long history for one feature)
3. rebase develop to master

[2021-02-16 19:54] locness3 commented on #21
@micahlt

[2021-02-19 03:47] Semisol commented on #21
Master is RELEASE READY, at least from the perspective of me and Kenny2github (not mentioned) with the ScratchVerifier project. It really makes our job easier and one reasons is automatic deployment. Mostly, it is this:
1. Feature issue
2. Development
3. PR
4. Code review
5. Master push
6. Servers update SV version

[2021-02-19 09:08] locness3 commented on #21
Not all projects should work the same

[2021-02-19 09:28] Semisol commented on #21
I know, just that it could work that way.
I plan this:
1. Feature branches by people to develop (Squash for single feature + long history, otherwise merge commit)
2. `develop` commits must not be made except things that are too small.
3. `develop` is REBASED to `master`, and `master` is not directly written to.
4. Every `master` rebase will indicate mostly a (pre)release

[2021-02-19 09:32] locness3 commented on #21
maybe

@micahlt

[2021-03-03 17:09] locness3 opened #22 ""When not signed in, going to the message page will freeze the app""
~~It seems like this bug, from the 0.5.0 known issues, vanished itself.~~

Actually, the browser page opens up but the app still crashes.
IMO, it's better to redirect the user to the app's login page in this case?

[2021-03-03 17:14] locness3 commented on #22
Some debugger output (from Android studio):
[code]

[2021-03-03 17:23] locness3 commented on #22
I don't fix there's a way to fix aside from removing the call to openMessages().

[2021-03-03 17:25] locness3 commented on #22
Actually no. Going to `/tabs/messages` directly gives a blank page, so the problem is on the messages page's side.

[2021-03-03 17:49] locness3 commented on #6
Okay, it looks like we have to use `<router-link>` from vue-router. To import it (hopefully saves you from guessing or googling) :
[code]

[2021-03-03 17:55] locness3 commented on #22
Fixed it in https://github.com/Scratch-Client-4/itchy-ionic/commit/ee1d0c9a0042807ef087d393b5ad36205d42a2cd but keeping open for the UX question :

[2021-03-03 17:56] #22 closed

[2021-03-03 17:58] locness3 opened #23 "Messages button UX"
Currently, if the user is signed out, pressing Messages opens Scratch's messages page in the browser.

Considering you can sign in to the app to view your messages, I think we should make it more obvious in this case, and redirect the user to log in to the app. And, add a "view in browser" link to the messages page.

What do you think? @Scratch-Client-4/everyone

[2021-03-15 01:57] micahlt commented on #21
@locness3 @Semisol Yes, we need more structure.  The only reason I've been pushing to `master` is that I've been the only contributor as far as code goes for several months.  I'm not familiar with rebase since SC4 is the first large-scale project I've worked on - I'll do some research and see if I can figure it out.  Is there a way to do it with GitHub.com/Desktop or is it only CLI?

[2021-03-15 01:58] micahlt commented on #18
Okay, yeah, sorry.  I'm going too fast.  I'll try to see if I can work on those bugs before the next feature addition.

[2021-03-15 01:58] #18 closed

[2021-03-15 02:00] micahlt commented on #23
Ah, that makes much more sense.  Yeah, let's go with that.  Since there have been no other comments I'll just make the executive decision and say yeah.

[2021-03-15 02:01] Semisol commented on #21
Rebasing is essentially setting the branch tip to the previous branch.

[2021-03-15 02:02] Semisol commented on #21
So essentially, setting `master` to be at the same commit as `develop`

[2021-03-15 02:02] Semisol commented on #23
+1

[2021-03-15 02:04] micahlt commented on #21
Cool - I know there's a `git rebase` command - any GUI on GitHub for that or just CLI?

[2021-03-15 02:05] micahlt commented on #13
@locness3 didn't you add this earlier?

[2021-03-15 04:13] micahlt commented on #23
Implemented in 1bb1d9ec7a0299e650562661359dfc7cb91904ed.

[2021-03-15 04:13] #23 closed

[2021-03-15 06:19] locness3 commented on #13
No

[2021-03-15 06:21] locness3 commented on #18
I did work on the first one https://github.com/Scratch-Client-4/itchy-ionic/commit/ee1d0c9a0042807ef087d393b5ad36205d42a2cd

[2021-03-15 11:58] micahlt commented on #18
And I just fixed the UX for the messages (#23)

[2021-03-15 22:46] micahlt commented on #13
Ah, okay, nevermind

[2021-03-16 12:17] locness3 commented on #18
saw it, will test

[2021-03-16 12:31] locness3 opened #24 "[bug] `forumpost` and `curatorinvite` message types aren't correctly handled"
The `forumpost` (when there's a new post in a forum thread) and `curatorinvite` message type (when you get invited to a studio) message types aren't correctly handled by MessagesPage and just show the person username.
Obviously we should properly handle it, but I think we may also want to add a fallback like "did something (${type})" for unknown message types.

Progress:
- [x] `curatorinvite`
- [

[2021-03-16 12:39] micahlt commented on #24
This makes sense - however, I'm not sure we'll need a fallback since there are a fixed amount of message types (unless Scratch Team decides to make a massive API change).

[2021-03-16 12:43] micahlt opened #25 "Add unit tests"
`itchy-ionic` already has Jest set up as part of the default settings of Ionic Vue.  It would be quite nice to add some unit test whenever we get a chance.  As this project gets bigger, it's going to be harder to manually test.

[2021-03-16 12:52] micahlt opened #26 "Force dark mode toggle not working"
There is a "force dark mode" toggle button in the settings tab that should allow web users and those without an Android 10+ device to enable Itchy's dark theme via a CSS class.  However, I haven't been able to get this to work.  Help is appreciated!

[2021-03-17 03:35] Semisol commented on #21
Github has that feature

[2021-03-17 16:19] FunctionalMetatable opened #27 "how does itchy-ionic log in to scratch?"
just out of curiosity

[2021-03-17 18:22] locness3 commented on #27
Your username and password are sent to the https://github.com/micahlt/itchy-api server (@micahlt please move it to the org), which itself sends them to Scratch to get a token back. We can't send them direclty because the app is basically a webpage, webpages have restrictions

[2021-03-17 18:24] locness3 commented on #25
unit tests are pretty new to me, what would you test? also may want to get better QA before this

[2021-03-17 18:57] micahlt commented on #25
Just that all components can render and that API data matches up with how we handle it.

Can you elaborate?

[2021-03-18 16:55] locness3 opened #28 "Implement localization/internationalization"
We should use [i18next](https://www.i18next.com/) with [the vue plugin](https://github.com/rse/vue-i18next) or another library to enable support for localization/internationalization/translations/however you name it.

More than taking over the world, it'll also open a new opportunity for the community to help without knowing coding.

[2021-03-18 18:05] micahlt commented on #28
Looks awesome!  I unfortunately don't have any knowledge of i18next - would you be willing to take this on?

[2021-03-19 16:04] locness3 commented on #28
If I get time and motivation.

[2021-03-22 07:57] locness3 commented on #26
Well, this part of the CSS makes no sense :
https://github.com/Scratch-Client-4/itchy-ionic/blob/4f6a5284cd81a90a95104f380743453552528edc/src/theme/variables.css#L70

[2021-03-22 12:26] micahlt commented on #26
How?  It's fully relevant.  If the user's device detects dark theme or the user manually turns on the `.dark` class via the toggle, then the dark mode vars take effect.  Right?

[2021-03-23 18:56] locness3 commented on #26
Well, you can't combine media queries and selectors.

[2021-03-23 19:14] micahlt commented on #26
Oh wow, lol, I'm an idiot.  Gosh.  Yeah, we should fix that.

[2021-03-24 10:37] locness3 commented on #26
I think the best thing to do is to use JS to apply the dark class based on the media query, otherwise we'd need to duplicate the CSS. See https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Testing_media_queries

(btw, what happened to following BEM? it should be smth like `theme--dark`)

[2021-03-29 15:17] micahlt commented on #1
I'm closing this issue :smile:

[2021-03-29 15:17] #1 closed

[2021-03-29 15:18] micahlt commented on #21
Sounds good - I'm closing this issue.

[2021-03-29 15:18] #21 closed

[2021-03-29 15:18] micahlt commented on #10
Can this issue be closed @locness3?

[2021-03-29 17:55] #10 closed

[2021-04-02 15:28] micahlt commented on #6
@locness3 So we essentially need to use a `<router-link>` whenever opening a project?

[2021-04-03 06:30] locness3 commented on #6
Yes, with the project page being its own route.

[2021-04-03 16:06] micahlt commented on #6
@locness3 Ah, so just get rid of the modals.  All righty, sounds good.  I'll test it out.

[2021-04-27 11:10] locness3 opened #31 "Don't rely on an intermediary server for logging in"
As discussed in <PR> with @Semisol It would be better to bypass CORS restrictions and log in to Scratch directly than use an intermediary api server that gets your password. This can be done with a capacitor plugin as shown in [this article](https://capacitorjs.com/blog/bypassing-cors-with-the-http-plugin).

@micahlt

[2021-04-27 13:13] micahlt commented on #31
Agreed.  The only downside of implementing the HTTP capacitor plugin would be that the app can no longer be tested in the browser because of CORS restrictions.  That will rapidly slow down development.  I'll look into it and see if I can find a method of doing it.

[2021-04-27 13:14] Semisol commented on #31
Well do you know that there is something called `a browser extension to temporarily disable CORS` and also a backend option for testing on desktop?

[2021-04-27 13:20] micahlt commented on #31
@Semisol Ah, all righty.  Guess I'll work on implementing this ASAP and updating the docs to reflect the changes.

[2021-04-27 14:03] locness3 commented on #31
If we don't want to rely on the server for logging in, we shouldn't rely on it for actions that need a token too huh?

[2021-04-27 14:29] micahlt commented on #31
@locness3 Maybe, or maybe not.  That would solve rate limiting issues we'd have when using a single server.  However, for my wrapped API's that I'm working on (like studios, for example, which don't even have a JSON-based API), that could dramatically increase the app's file size.

[2021-04-27 14:41] locness3 commented on #31
I think it's ok to rely on the server for public data. for anything private (including actions on public things) the app should do it directly; a token is as powerful as a password.

[2021-04-27 14:53] micahlt commented on #31
That's fair.  I can attempt to integrate my studio wrapper directly into the app.

[2021-05-01 07:42] locness3 commented on #26
So I had tried to do this, however I need to interact with the Vue instance from within the MediaQueryListener, but the `this` in the MQL function refers to the MQL, and not the Vue instance. Any attempts to pass the Vue instance to the function would result in the app crashing to a full white - or black - screen.

I'll have to try it again, but I may just use a CSS preprocessor to duplicate the v

[2021-05-07 21:55] micahlt opened #32 "[feat] Allow for multiple (or unlimited) alt accounts"
Since Itchy sends a session token with every request, there's no reason that we can't enable users to log into multiple accounts and then just store their tokens in localStorage or a secure local database.  This would theoretically enable alt support for:

- Checking messages
- Commenting
- Loving and favoriting

Just a thought 😄

[2021-05-08 06:29] locness3 commented on #9
I think we should close this as we don't handle user and studio anyways.

[2021-05-08 15:48] micahlt commented on #9
I would, except I'm working on it.  If you compile the latest version from my fork then you'll see that I added user pages.

[2021-05-08 18:12] locness3 commented on #9
Okay

[2021-05-09 10:11] locness3 commented on #26
I decided to use the trick [here](https://stackoverflow.com/questions/40338877/css-scss-media-query-or-class) : use inverse logic, instead of applying the dark style when the media matches "dark" or the dark class is present, make dark styles the default and apply light colors if the media matches "light" and the dark class is not present. However I don't have the light colors for ios/md at hand.

[2021-05-09 12:16] micahlt commented on #26
Not gonna lie, I totally feel you here.  Webpack is a bloated mess and it's almost impossible to debug.  Generally I can figure out the errors with some googling - would you be willing to provide a screenshot?  I may have encountered the same error before.

Thanks for your contribution by the way ☺️

[2021-05-14 17:03] locness3 commented on #26
It's overcomplex, yes. Just like the Ionic+Vue+Capacitor (let's say IVC) stack itself.

If you want my opinion, I think "native" Android development is easier and better : makes a faster and smaller app, and it's the real proper way of doing things. It may seem scary at first, but I've done some little things (I still have a lot to learn), and I find that Java is not hard if coming from JavaScript

[2021-05-16 20:17] micahlt commented on #26
_Oh my_... I'll be honest, I'm not going to move development platforms again, especially to Java or Kotlin, whatever you were going to use.  Sorry, I really can't see myself using a low-level language.

[2021-05-17 15:57] locness3 commented on #26
Java is low-level now? It's not even compiled... But Android Studio manages the whole thing anyways.

[2021-05-18 16:17] locness3 commented on #26
Anyways, might want to remove that dark theme checkbox to not give a bad impression.

[2021-07-18 21:46] micahlt commented on #31
Unless anyone else is willing to work on this, I'm going to have to leave this as it is.  For some reason I absolutely cannot get auth working with the Capacitor HTTP plugin.  I've been working on this one issue for around one and a half months, and it's gotten me very burnt-out.  For now, login will go to the server which will send the x-token back to the client where it will be used to authentic

[2021-07-19 06:08] locness3 commented on #31
what about you learn java or kotlin?

[2021-07-19 16:26] micahlt commented on #31
I really don't have the time or resources to learn an entirely new programming language, and I'm definitely not starting over Itchy for a third time.

[2021-07-19 17:13] locness3 commented on #31
I still have to do it then.

But trust me when I say that Java is easy to grasp from JavaScript.

[2021-07-19 17:20] micahlt commented on #31
What do you mean?

[2021-07-19 18:18] locness3 commented on #31
Making a native client... maybe not.

[2021-07-19 19:16] micahlt commented on #31
Oh my - good luck with that!  😣

[2021-07-20 06:41] locness3 commented on #26
Please do so. @micahlt

[2021-07-24 21:06] micahlt opened #34 "[feat] Allow different embed providers"
Currently we utilize Turbowarp for actually rendering Scratch projects, which provides its own cloud variable server and Javascript-compiling engine rather than running in a VM like Scratch (.mit.edu) does.  However, it might be nice to allow users a few different embed options like the official Scratch embeds, Turbowarp, or others.

[2021-07-25 06:00] locness3 opened #35 "Integrate TurboWrap within the app"
Instead of loading the TurboWarp from the website, integrate it as sub-modules in the source and build it ourselves.

I'm suggesting this again, because, as discussed, while the TurboWarp source is quite huge, the generated HTML and JS is of reasonable size and could be integrated in the app.

[2021-07-26 02:19] micahlt commented on #35
As has been stated before, this is a great idea but I personally have no experience with submodules and wouldn't even know where to start here.  Plus this should be in the backlog until the necessary sections of the app are built out.

[2021-08-04 14:57] micahlt commented on #2
Closing this because I've looked and cannot find a solution.  Plus we're not really going to publish the browser version of Itchy, just the mobile.

[2021-08-04 14:57] #2 closed

[2021-08-04 15:39] micahlt commented on #7
This was actually fixed way back, closing now.

[2021-08-04 15:39] #7 closed

[2021-10-02 19:58] micahlt commented on #31
I'm putting this in the backlog - this doesn't harm the user experience and I cannot get this to work.

[2021-10-02 20:00] micahlt commented on #9
Closing this for now since studios are in the backlog.

[2021-10-02 20:00] #9 closed

[2021-10-02 20:01] micahlt commented on #5
Once PR #36 is merged, this issue will be closed since we're switching over to a custom search engine that uses the Scratch API.

[2021-10-03 08:39] locness3 commented on #5
Or move itchy-ionic to your personal account. SC4 is dead.

[2021-10-03 08:40] locness3 commented on #31
every task on this project be like

[2021-10-03 12:38] micahlt commented on #31
Not really - I'm still hard at work on getting this released before 2022.  I don't care if anyone else contributes anymore.  No one except you seems to actually contribute anything to the project.

[2021-10-03 12:40] micahlt commented on #5
As I've started multiple times, that's not happening.  There's no reason to move the repo.  Itchy has always been the top priority of SC4 anyway, so as long as development of Itchy continues you can't say that SC4 is dead...

[2021-10-03 13:04] locness3 commented on #5
Define SC4 in a sentence.

[2021-10-03 13:05] locness3 commented on #31
True. Advertise!

[2021-10-03 13:30] micahlt commented on #5
A project to build reliable, beautifully designed applications to access the Scratch community, completely open-source and maintained by members of the community.

[2021-10-03 13:31] micahlt commented on #31
What do you think all my Scratch projects are doing lol

[2021-10-03 14:09] locness3 commented on #24
Bump.

[2021-10-03 14:14] micahlt commented on #24
Unless I'm provided a message object for these types, I can't work on this issue.

[2021-10-03 17:40] locness3 commented on #5
Okay. Well it seems like the whole "community" has lost any interest.

[2021-10-03 17:41] locness3 commented on #24
Follow a forum thread, and ask someone to put you in a studio.

[2021-10-03 17:54] micahlt commented on #5
The development community, maybe.  However, interest on Scratch is at a peak right now, as I just recently shared a promotional project.  If SC4 can't be a community of devs, it can be a community of users.

[2021-10-03 17:54] micahlt commented on #24
I'll work on this, I just haven't had time so far.

[2021-12-11 14:26] locness3 commented on #34
![](https://i.redd.it/ocwkq2k400i51.jpg)

[2021-12-11 14:35] locness3 opened #38 "Show which messages are read or unread and allow marking as read"

[2021-12-11 16:14] micahlt commented on #34
This is actually something that would be super easy to add.  I'll work on it this afternoon.

[2021-12-11 18:59] micahlt commented on #38
![image](https://user-images.githubusercontent.com/28816297/145688323-4c7e6783-4f7f-4f6a-b65e-7d510a0f87d9.png)

This feature already exists.  In the screenshot below, see how the read message doesn't have the blue dot at the top right of the avatar image.

This does need to be done - I'll work on it 👍

[2021-12-11 19:00] micahlt commented on #24
#37 Resolves `curatorinvite` messages.

[2021-12-11 19:01] micahlt commented on #11
Resolved by Scratch-Client-4/landing#25.

[2021-12-11 19:01] #11 closed

[2021-12-11 19:03] micahlt commented on #5
Resolved by moving away from Qwant search in 4de17021248fc096948f2f52b1c26836ab06655e.

[2021-12-11 19:03] #5 closed

[2021-12-11 21:45] micahlt commented on #34
I've run into a styling issue - while TurboWarp embeds are transparent, Scratch embeds have a white background that can't be changed.

[2021-12-18 22:55] locness3 commented on #34
Yes.

[2021-12-18 22:58] locness3 commented on #38
They are not distinguishable enough, IMO.

[2021-12-19 04:10] micahlt commented on #38
What would you recommend?

[2021-12-19 20:39] locness3 commented on #38
A blue (primary color) backgrorund, just like on the Scratch website.

[2022-01-31 03:15] #26 closed

[2022-02-01 02:05] micahlt commented on #6
I fixed the problems with modal navigation in 17711bbe84345f3e721b537bdc048a55668bdf76.  Closing now.

[2022-02-01 02:06] micahlt commented on #38
Done in my fork (c60e72f539e8ca9bb5d73d5ddcff93229871831a), but I won't close this issue until I merge into this repository.

[2022-02-01 19:44] locness3 commented on #6
Should be using the router, but whatever

[2022-02-01 19:50] locness3 opened #39 "Do not vibrate when tapping a bottom tab"

[2022-02-01 20:06] micahlt commented on #6
In the future if it becomes a problem I'll change it.  For now it works fine.

[2022-02-01 20:06] micahlt commented on #39
Why?

[2022-02-01 22:04] locness3 commented on #39
When tapping a tab in the bottom tab bar on an android device, it makes the device vibrate a bit.
I don't know what's responsible for it, but this is not expected behavior - no other android app, to my knowledge does this.

[2022-02-02 00:23] micahlt commented on #39
This was intentional - I figured that some haptics would give the app a more native feel, but I see what you mean.  They'll be removed in my next PR.

[2022-02-14 21:52] micahlt opened #41 "Security vuln buildup"
We're to the point where there are now over 16 Dependabot-recognized security vulnerabilities and many, many more when `npm audit` is run.  Simply trying `npm audit fix` doesn't work.  At some point either me or someone else is going to have to dedicate enough time to at least looking into the high-risk vulnerabilities and ensure that they don't affect end users.  Thoughts @locness3?

[2022-02-14 21:53] micahlt commented on #39
Fixed in 4f512184c6c7b9dc463d1a52ec16a5031c0c2647.

[2022-02-14 21:53] #39 closed

[2022-02-14 21:55] micahlt commented on #38
Resolved in 4f512184c6c7b9dc463d1a52ec16a5031c0c2647 except for marking as read.  From my experimentation with the Scratch API, that's something that will probably have to be done in [micahlt/itchy-api](https://github.com/micahlt/itchy-api), so I'm closing this issue for now.

[2022-02-14 21:55] #38 closed

[2022-02-15 03:43] micahlt commented on #8
@locness3 The FAQ page refers to the fact that the App must not be built with Oracle JDK.  Isn't that what Itchy uses?

[2022-02-15 17:13] locness3 commented on #8
I don't see any mention of Oracle in the page I linked? I have no idea and I hate not knowing this.
Also, I just want to make sure you have read this part :

[2022-02-15 17:43] locness3 commented on #38
I assume this means it requires authentication - IMO itchy-api should not be dealing with authenticated actions.

[2022-02-15 17:46] micahlt commented on #8
It was actually on a different page - see below.

![image](https://user-images.githubusercontent.com/28816297/154118982-ccf2358c-4ea3-4730-97c4-84a7aadaa63c.png)

Not sure about this either, or how it will work since we're using Capacitor instead of Cordova.

[2022-02-15 17:47] locness3 commented on #41
I have not looked at the alerts yet but I bet almost all of these do not affect app usage directly. Please make sure to read [this](https://overreacted.io/npm-audit-broken-by-design/)

[2022-02-15 17:52] micahlt commented on #38
Nope, it means that I've tried doing it on-device and simply can't get it to work since Capacitor's HTTP plugin doesn't act perfectly.

That's the way I'd prefer it too, but I've spent literal hours trying to make Capacitor HTTP work right and I just can't.

[2022-02-15 17:55] micahlt commented on #41
Looks like an interesting article, will read.  I'm assuming that most of these are in devDependencies right now, but I'm not entirely sure which is why I said

[2022-02-15 18:06] micahlt commented on #41
Found the option to create Dependabot security updates - about to merge a bunch of them.

[2022-02-15 18:20] locness3 commented on #38
Get in touch with the developers.

[2022-02-15 19:08] micahlt commented on #41
No reason not to upgrade if upgrades are available.  But just running `npm audit --production` on my local machine there are only six moderate vulnerabilities in production.  I'll do my best to take care of those.

[2022-02-16 08:25] locness3 commented on #41
[Unless...](https://www.bleepingcomputer.com/news/security/dev-corrupts-npm-libs-colors-and-faker-breaking-thousands-of-apps/)

[2022-02-16 10:17] locness3 commented on #31
I've changed the labels since I consider this to be an important security bug. Feel free to change them back.

[2022-02-16 15:11] micahlt commented on #41
Yeah, yeah, I monitored that whole controversy.  That could happen with any package, not just an update.  Not really an excuse for installing updates as they become available.

[2022-02-16 16:03] micahlt commented on #31
Are you going to pursue this issue?  Also, this isn't a bug - it's a workaround.  There's a difference.

[2022-02-16 20:03] locness3 commented on #31
Wdym?

Sure.

[2022-02-20 03:49] micahlt commented on #41
Closing this for now since all vulns I've looked at are minor and should not affect end users.

[2022-02-20 03:49] #41 closed

[2022-02-20 03:51] micahlt commented on #31
Are you going to work on this?  I've already put forth my best effort and made exactly 0 progress.

[2022-02-20 22:45] locness3 commented on #31
Possibly.

[2022-02-20 23:41] Semisol commented on #31
I do not know how any of this native stuff works. All I have to say is I would not want to trust my token with a service, and others would not too.

[2022-02-21 14:31] micahlt commented on #31
@Semisol I'm sure, which is why signing in to Itchy is completely optional.  The only explanation I can give you is that instead of using JavaScript's native `fetch` API, we're using [Capacitor HTTP](https://github.com/capacitor-community/http) which is supposed to make the requests through native Java code, therefore bypassing CORS requirements of the Scratch API.  However, it's not a perfect plu

[2022-02-21 21:11] locness3 commented on #31
Did you try to reach out to the devs of the Capacitor plugin?

Also : is it not possible to test the app in the browser anymore with the http plugin? would using a proxy depending on the detected platform be a solution?

[2022-02-21 22:59] micahlt commented on #31
Yes, I have.  From their testing, cookies are working fine (which is the issue I'm encountering).  I suspect it's partially an issue on Scratch's side.

My current method of testing online is with a CORS-bypassing extension that automatically proxies requests when turned on.

[2022-02-23 15:08] micahlt commented on #31
Not sure either - which is why during development I generally just use [Capacitor hot-reloading](https://github.com/Scratch-Client-4/itchy-ionic#capacitor-live-reload) over ADB with my phone rather than the browser.

[2022-02-25 00:13] locness3 commented on #31
That's useful, however it requires the android sdk

[2022-02-25 00:56] micahlt commented on #31
Lol of course - this project is an Android app.

[2022-02-26 18:29] VelocityDesign opened #47 "[bug] Can't install"
Continued from comment section.
Here's a capture:
![Screenshot_20220226-114557.png](https://user-images.githubusercontent.com/24457862/155854900-63b792c2-2518-4330-a904-234e776c5e6e.mp4)

[2022-02-26 18:42] VelocityDesign commented on #47
Latest nightly works. I forgot to uninstall the app before installing. However, the issue remains with the stable version.

[2022-02-26 18:46] micahlt commented on #47
The reason for this is that I'm not bumping the version of the app in the Gradle file every single time I provide an APK, forcing users to uninstall before updating.  This is bad UX at the moment, but it won't be the case when we release the app since there will be routine version bumps.

Are you saying that even after uninstalling another version you're still not able to install the latest stable

[2022-02-26 18:52] micahlt opened #48 "[feat] Add replying from Messages page"
A user should be able to reply to a comment directly from the messages page without opening a browser.

[2022-02-26 18:54] micahlt opened #49 "[feat] Show comment source on Messages page"
Just like the Scratch messages page does, Itchy should tell what project or user profile a comment is on.

[2022-02-26 18:55] micahlt opened #50 "[feat] Show project share date"
We need to display on what date a project was shared - preferably directly under instructions and credits.

[2022-02-26 18:58] micahlt opened #51 "[bug] Studio feed events don't do anything"
When clicking on a studio event (e.g. `becomeownerstudio`, `becomecurator`, `followstudio`), nothing happens.  Until studios are implemented into Itchy, we should make these events open the studio in the browser.

[2022-02-26 20:16] micahlt commented on #47
Interesting... well for now stay on the latest nightly and I'll make a new release once #46 is merged.  I'm going to close this for now, but if you have trouble installing 0.9.7 (I'll shoot you a comment when it's released) then feel free to reopen it.

[2022-02-26 20:16] #47 closed

[2022-02-26 20:20] micahlt opened #52 "[feat] Pin studios"
It would be neat to add some sort of "pinned studios" section to the explore page that could be added or removed by the user.  For example, I could pin the Elders of Scratch studio and the latest OS Wars studio if I were interested in both.  This could prevent a lot of unnecessary searches.

[2022-02-28 21:06] micahlt opened #54 "[question] Placing of actions on user and project pages"
Context: see https://github.com/Scratch-Client-4/itchy-ionic/pull/46#issuecomment-1053728195

Lots of Android apps place options like "Open in Browser" and "Share" in the top right of the title bar.  At the moment, we're placing "Open in Browser" under a FAB along with the "Comments" button on both the user and project pages.  This is in accordance with the Material Design guidelines [here](https:

[2022-02-28 21:09] micahlt opened #55 "[bug] Comments sometimes won't load"
Context: https://github.com/Scratch-Client-4/itchy-ionic/pull/46#issuecomment-1053727474 - second paragraph

Comments will not load that are:

- Disabled
- Past the first "page" returned by the Scratch API

[2022-02-28 21:10] micahlt commented on #24
#46 will add `forumpost` messages.

[2022-03-01 20:49] #24 closed

[2022-03-02 15:09] micahlt opened #56 "[bug] Notifications won't fire when in background"
At the moment, message notifications only fire when the app is open.  This is because the request is being made with the [Capacitor Local Notifications](https://capacitorjs.com/docs/apis/local-notifications) plugin which is controlled via JavaScript, which only runs when the app is in the foreground.  The solution to this problem would be to write an [Android Service](https://developer.android.com

[2022-03-03 20:20] micahlt opened #57 "[bug] Emojis in comments don't work"
In the comments, Scratch emojis appear as broken images.  This should be relatively easy to fix - we just have to add the images in the proper location.  We could possibly get the emojis from ScratchAddons.

[2022-03-06 09:57] locness3 commented on #54
Did not read much of the guidelines but:

I believe showing comments does not really count as an action, and opening in browser is not a primary one.

[2022-03-06 10:08] locness3 commented on #52
I'm assuming a "my stuff" page similar to scratch's will be implemented at some point, so this feature could be implemented in there, for everything it'd contain.

[2022-03-06 10:14] locness3 commented on #56
It seems relatively simple to set up a WorkManager. Might look into [sync adapters](https://developer.android.com/training/sync-adapters) as well.

[2022-03-06 16:01] locness3 commented on #57
Are you refering to [these](https://en.scratch-wiki.info/wiki/Scratch_Emojis#History)?

[2022-03-06 23:04] micahlt commented on #54
Hmm... in my usage of Itchy, I tend to use the "Open in Browser" button a lot - any time I desire to add a comment.  What does your usage generally look like?

[2022-03-06 23:05] micahlt commented on #52
Sounds cool to me!  Since this is just an idea I'm going to stick it in the backlog for now.

[2022-03-06 23:07] micahlt commented on #56
Sync adapters look really interesting as well!  You're right - we shouldn't need to directly interact with the webview, but we do have to store the current username somewhere that can be synced between the webview and the service/WorkManager/sync adapter.

[2022-03-06 23:07] micahlt commented on #57
Those are the ones!

[2022-03-13 23:17] locness3 commented on #54
Here is how my usage looks like :

[2022-03-13 23:18] locness3 commented on #54
Jokes aside, as much as you may be using it now, it will not have to be a primary action when more features are implemented.

[2022-03-24 17:07] micahlt commented on #57
#58 will resolve this issue.

[2022-03-24 17:08] micahlt commented on #55
#58 will resolve the second part of this issue (past the 1st page).

[2022-04-01 03:54] micahlt commented on #56
@locness3 So just from what I've tried, setting up a sync adapter lies beyond my marginal knowledge of Java.  Would you be willing to add this feature and make a PR?  That would be absolutely amazing 🤩

[2022-04-01 14:32] locness3 commented on #56
Note to self : @capacitor/storage seems to use [`CapacitorStorage`](https://github.com/ionic-team/capacitor-plugins/blob/22fb04179bd13fabea6187c42ed3ffc2faa866c1/storage/android/src/main/java/com/capacitorjs/plugins/storage/StorageConfiguration.java#L9) as the default name for the shared preferences file.

[2022-04-01 14:41] locness3 commented on #56
These look relatively complex to set up since it looks like you need to create an authenticator and a content provider - would stick with using WorkManager.

[2022-04-01 15:38] micahlt commented on #56
Been meaning to switch to Capacitor Storage for a while.  I'll write the code sometime tonight and PR the changes into this repo so you can set up a WorkManager easily!

[2022-04-01 21:40] #57 closed

[2022-04-01 21:44] micahlt commented on #56
@locness3 It's been done - the current signed-in username is stored with the key `username`.  You should be good to go!

[2022-04-02 12:49] locness3 commented on #56
Great

[2022-04-02 16:11] micahlt commented on #56
I appreciate your help on this issue!  Thanks again!

[2022-04-05 04:17] LES-11 opened #59 "[bug] turbowarp not syncing with darkmode"
1.  Turbowarp fullscreen button not syncing with dark mode (image 1)
2.  Background and top bar (area around green flag, stop button, etc.) not syncing with darkmode while in fullscreen (image 2)

image 1
![20220403_201649](https://user-images.githubusercontent.com/75516401/161677354-c0821275-f294-4105-a86a-c4fd70f542f2.jpg)
image 2
![20220403_201807](https://user-images.githubusercontent.com/7551

[2022-04-05 04:21] LES-11 opened #60 "[bug] Thumbnail sizing issue"
Thumbnails aren't sizing properly probably due to the image dimensions (this was tested on an android tablet if that helps)

![20220403_201831](https://user-images.githubusercontent.com/75516401/161677927-6349e383-37fe-4638-aaf8-ae92c9ac4b27.jpg)
![Screenshot_20220403-202200](https://user-images.githubusercontent.com/75516401/161677969-f0a38b4f-21b6-420e-bfbb-3fe9c05e8b71.jpg)

[2022-04-05 04:23] LES-11 opened #61 "[bug] comments not loading"
Profile comments won't load.
Also some things just take a while to load but I think that's just optimization and might also be a fault on my end (slow wifi, older device, etc.)

![Screenshot_20220403-203035](https://user-images.githubusercontent.com/75516401/161678259-ce252853-65bf-448c-845b-cfdb2ce61e52.jpg)

[2022-04-05 04:45] LES-11 opened #62 "[feat] integrate occular"
Integrate occular status from https://ocular.jeffalo.net/
This is the same that is integrated into scratchaddons
View screenshots below
(image 1) shows setting your status
(image 1) shows how scratchaddons displays it on profiles

API here https://ocular.jeffalo.net/docs/api

image 1
![image](https://user-images.githubusercontent.com/75516401/161679909-2be539ee-8dba-46a5-812c-77643e06f6e0.png)
ima

[2022-04-05 10:20] locness3 commented on #61
I'll try to reproduce later.

[2022-04-05 10:21] locness3 commented on #60
I believe this was fixed in #58 ?

[2022-04-05 10:23] locness3 commented on #59
Turbowarp is loaded from turbowarp.org, so I'm not sure there's much we can do here unless we include turbowarp within the app (see also #35 )

THank you very much for contributing, by the way.

[2022-04-13 04:23] LES-11 commented on #59
yea np (sorry for the late reply)
i wasnt sure if that was a turbowarp issue but scratchaddons has the same issue while using dark mode so it probably is

[2022-04-13 04:25] LES-11 commented on #60
not sure if it was pushed to the play store yet when i tested it
i made these issues the same day i was testing
i was also testing on a tablet, not a phone so idk if scalling is different there
i can try again in the future ill also be testing landscape mode (if that is supported )

[2022-04-16 23:42] micahlt commented on #62
Fun idea!  Backlog for now though :)

[2022-04-16 23:43] micahlt commented on #61
Hmm, I'm not able to reproduce this.  Can you provide details about your device?  What device are you using?

[2022-04-16 23:44] micahlt commented on #60
I don't believe this has been pushed to Play yet - I'll try to get on making an update.

[2022-04-16 23:46] micahlt commented on #59
@locness3 is right here - this is out of our control unless #35 is worked on, which is not currently feasible due to my technical knowledge of Scratch's compiler, VM, and GUI.  Closing for now.

[2022-04-16 23:46] #59 closed

[2022-04-16 23:46] micahlt commented on #56
@locness3 no hurry, but have you gotten any time to work on this issue?

[2022-04-16 23:49] micahlt commented on #61
Oh, also this is a duplicate of #55, so any further info should be relegated to that issue.

[2022-04-16 23:49] #61 closed

[2022-04-16 23:50] micahlt commented on #55
Reports that this is still not fixed (#61).  I'll look into it - it's possible I just haven't pushed the latest changes to Google Play.

[2022-04-16 23:51] micahlt commented on #50
Added in 6aaa60fc288e80036010cecd12b8691bb6126f5a.

[2022-04-16 23:51] #50 closed

[2022-04-16 23:52] micahlt commented on #49
Added in dcc698fc76ac90c13d3c64e04c81ae4ad853d66e.

[2022-04-16 23:52] #49 closed

[2022-04-16 23:53] micahlt commented on #13
Fixed in cb6c41d8fb244185fa8f24f22b6be4d14431ae7a.

[2022-04-16 23:53] #13 closed

[2022-04-16 23:56] micahlt commented on #34
It's worth noting that this issue and #35 are mutually exclusive - if we integrate TurboWarp's engine within the app, switching the embed provider would be extremely difficult.  At this point, TurboWarp is stable enough that I'm not sure using the vanilla Scratch embed is beneficial at all.  Thoughts @locness3?

[2022-04-19 14:43] locness3 commented on #34
nah, turbowarp could be integrated as a separate web page loaded in an iframe, that would be part of the application bundle instead of being loaded from the internet

[2022-04-19 14:45] locness3 commented on #55
there's a google play version?

[2022-04-19 15:02] micahlt commented on #55
Yep: https://play.google.com/store/apps/details?id=org.scratchclient4.itchy

[2022-04-19 16:01] micahlt commented on #56
Awesome!  Thanks again!

[2022-04-19 16:03] micahlt commented on #34
Ah, I see.  Will that not drastically increase Itchy's download size?

[2022-04-19 16:11] locness3 commented on #34
~~Who cares?~~

For a real answer, it will probably make it the current size + what you download when you visit the TurboWarp website (or use the iframe) - except you likely won't download it as often.

[2022-04-19 16:15] locness3 commented on #55
Yeah, changes from #58 were not released at the time.

[2022-04-19 16:17] locness3 opened #63 "[discussion] Screenshots and metadata"
The purpose of this ticket is to discuss the screenshots and metadata that will be added in app stores like Google Play and F-Droid.

[2022-04-19 16:33] micahlt commented on #34
I personally will be fine - my PC is more than equipped to handle it.  So it does look like this is feasible, but still not a massive benefit at the moment so we'll keep it in the backlog.

[2022-04-19 16:35] micahlt commented on #63
Did you have a specific thing you wanted to discuss about the screenshots and metadata @locness3?

[2022-04-19 16:36] locness3 commented on #63
A few things I would like to address :
- I like what you're doing with the mockups and designs, really makes it stand out and look great.
- There should be a screenshot dedicated to reading and replying to messages - but it might just be that this not implemented yet, perhaps you have planned to do it.
- "a team of young developers with a heart for the Scratch platform" : I disagree with this stat

[2022-04-19 16:37] locness3 commented on #63
I will create a separate issue for the last point.

[2022-04-19 16:38] locness3 opened #64 "Add metadata and screenshots to the repository"
Speaking of contributions, we should make [the application] screenshots and metadata part of this repository, following [the format](https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/#fastlane-structure) used by the [fastlane supply tool](https://github.com/fastlane/fastlane/blob/2.28.7/supply/README.md#images-and-screenshots) (which we could use as well), so they can be

[2022-04-19 16:39] locness3 commented on #62
Imagine if we had integrated ScratchNetwork back in the days

[2022-04-19 16:52] micahlt commented on #62
What's ScratchNetwork?  I must not have been around for that.

[2022-04-19 16:54] micahlt commented on #64
Screenshots are already here, as well as a source file in the .afdesign format: https://github.com/Scratch-Client-4/itchy-ionic/tree/master/resources/screenshots

[2022-04-19 16:57] micahlt commented on #63
Thank you!

Yeah, I'll work on that soon.

When referring to the "platform", I'm not saying that I love the website - I'm saying I love the interactions and people in the community.  I wouldn't be working on a client if I didn't like the people who use it.  Perhaps changing that to "community" would work better?

Good idea!

[2022-04-19 17:39] locness3 commented on #63
Definitely, although my remark was intended as humor.

[2022-04-20 22:15] locness3 commented on #62
ScratchNetwork was a website that somewhat integrated with Scratch. I believe it was originally meant for people to promote and manage shops, and it had a currency named PushPoints. You should read the [announcement post](https://scratch.mit.edu/discuss/topic/297417/) (you can view the images if you search for their URL on the Wayback Machine) and [a post about PushPoints](https://scratch.mit.edu/

[2022-04-21 13:34] micahlt commented on #62
That looks like fun lol

[2022-04-21 22:43] locness3 commented on #62
Hoping that our project doesn't end like this one.

[2022-04-21 23:52] micahlt commented on #62
Nah, that's more of an attempt to build a community.  Itchy is just a client - I don't see a lot of similarity.

[2022-06-17 18:35] pufferfish101007 opened #69 "[feat] Make haptics optional"
I'm not a big fan of haptics - I find them annoying & unnecessary, and they detract from the experience. It'd be great if there was a setting to disable haptics, and simply not run `vibrate` functions.

[2022-06-17 23:17] micahlt commented on #69
I can totally add this - will be in the next update!

(also issue #69 - nice)

[2022-06-19 08:06] locness3 commented on #69
Tbh, I don't think it needs to be a setting, but just not be used at all.

[2022-06-20 08:51] lankybox02 opened #70 "[feat] Turn "force dark mode" to a dropdown"
Instead of a "force dark mode" switch, there could be a dropdown where you cna select `system theme`, `dark mode` and `light mode`.

[2022-06-20 13:12] micahlt commented on #70
This has been the plan for a while, it just hasn't been implemented since Ionic doesn't provide a native dropdown element - it'll have to be from scratch.

[2022-06-22 22:34] locness3 commented on #70
Oof.

[2022-06-26 21:16] micahlt commented on #60
@LES-11 Does the issue still exist on the latest version of Itchy from Google Play?

[2022-06-26 21:17] micahlt commented on #56
Any updates on this @locness3?  Again, no rush - just as you get to it 😊

[2022-06-26 21:19] micahlt commented on #51
Resolved by eff46642794f99ef5f20ad2f069423c279ec28db.

[2022-06-26 21:19] #51 closed

[2022-06-28 04:12] LES-11 commented on #60
@micahlt
It seems to be fixed

[2022-06-28 12:57] #60 closed

[2022-07-13 16:11] locness3 commented on #69
@micahlt do you have a final take on this, so that the change can be made?

[2022-07-13 16:12] locness3 commented on #70
@micahlt It actually does : https://ionicframework.com/docs/api/select

[2022-07-13 16:12] micahlt commented on #69
Whoops, meant to resolve this already - it was added as an option in the latest version.

[2022-07-13 16:13] micahlt commented on #70
Yep - found that!  This was also added in the latest version of Itchy.

[2022-07-13 16:16] micahlt commented on #70
Resolved by 4217658f67ff92c29503a01fe7a2ba73e47eebaa.

[2022-07-13 16:16] #70 closed

[2022-07-13 16:17] micahlt commented on #69
Resolved by 4217658f67ff92c29503a01fe7a2ba73e47eebaa.

[2022-07-13 16:17] #69 closed

[2022-07-13 16:28] locness3 commented on #64
Oh, thanks for providing a source file. It would be helpful to have it in an open format though.

[2022-07-13 16:32] micahlt commented on #64
I agree - when I get around to it, I might be able to provide an SVG.  However, at the moment it uses program-specific features that can't be converted to SVG without rasterization.

[2022-07-13 16:34] locness3 commented on #52
This could be extended to more than studios as well though

[2022-07-13 16:39] micahlt commented on #52
Yeah - maybe something like a "bookmarks" section of the app?

[2022-07-13 16:39] micahlt commented on #56
Bump - @locness3 any updates?

[2022-07-14 14:06] micahlt commented on #34
As there are no benefits to this and it increases the complexity of the app, I'm going to go ahead and close this.  If we get feature requests for this then I might re-open it.

[2022-07-14 14:06] #34 closed

[2022-07-14 15:17] locness3 commented on #55
What's the status of this?

[2022-07-14 18:43] locness3 opened #74 "Explore page does not handle failed requests correctly"
When testing locally in browser, the request to scratchstats fails due to CORS restrictions (even though I have a CORS anywhere browser extension, but who knows).

Looking at the code, I expect it to show an alert dialog, however it does nothing. Other sections don't load even though the request to Scratch doesn't seem to have failed.

[2022-07-14 19:01] moeenio opened #75 "[bug] Explore page : request data is not parsed, hence nothing is being displayed"
From my testing, in [ExplorePage.vue lines 274-277](https://github.com/Scratch-Client-4/itchy-ionic/blob/master/src/views/ExplorePage.vue#L274), `response.data` is only a string containing the JSON code, and no content is displaying on the Explore page.

[2022-07-14 19:09] locness3 commented on #75
This has started occuring on an older version of Itchy. I assume something changed in the Scratch API.

[2022-07-14 19:34] micahlt commented on #55
Still haven't had time to reproduce, and probably won't for ~1-2 months.  I'm moving to college on August 17th and it's a whirlwind until then.

[2022-07-14 19:34] micahlt commented on #74
👍 I'll work on this when I get the time.

[2022-07-14 19:36] micahlt commented on #75
Can confirm that this only happens with _certain_ older versions of Itchy - the Google Play version is working for me...

[2022-07-14 20:02] locness3 commented on #28
I have begun work on this.

[2022-07-14 20:58] micahlt commented on #75
Hmm, very odd.  I'll test as soon as I can.

[2022-07-14 20:59] micahlt commented on #28
Amazing!  Can't wait for a PR!

[2022-08-20 20:49] locness3 commented on #6
Re-opening because using proper routes instead of modals would improve the structure of the code.